# Auto detect text files and perform LF normalization
* text=auto
/COM-v19.2/DATA/Anstee-1802-2014.dat filter=lfs diff=lfs merge=lfs -text
/COM-v19.2/DATA/E161 filter=lfs diff=lfs merge=lfs -text
/COM-v19.2/DATA/energy-levels-BarberH2O.txt filter=lfs diff=lfs merge=lfs -text
/DATA/Anstee-1802-2014.dat filter=lfs diff=lfs merge=lfs -text
/DATA/E161 filter=lfs diff=lfs merge=lfs -text
/DATA/energy-levels-BarberH2O.txt filter=lfs diff=lfs merge=lfs -text
/COM-v19.2/TEST-data/nlte_linelist_test.txt filter=lfs diff=lfs merge=lfs -text
/COM/DATA/Anstee-1802-2014.dat filter=lfs diff=lfs merge=lfs -text
/COM/DATA/E161 filter=lfs diff=lfs merge=lfs -text
/COM/DATA/energy-levels-BarberH2O.txt filter=lfs diff=lfs merge=lfs -text
/COM/TEST-data/nlte_linelist_test.txt filter=lfs diff=lfs merge=lfs -text
/COM/TEST-data/lte_linelist_test.txt filter=lfs diff=lfs merge=lfs -text
/COM/TEST-data/nlte_ges_linelist_ca_only.txt filter=lfs diff=lfs merge=lfs -text
/COM/OBSOLETE/Anstee-1802-2014.dat filter=lfs diff=lfs merge=lfs -text
/COM/OBSOLETE/E161 filter=lfs diff=lfs merge=lfs -text
/COM/OBSOLETE/energy-levels-BarberH2O.txt filter=lfs diff=lfs merge=lfs -text
/COM/TEST-data/atom.fe607a filter=lfs diff=lfs merge=lfs -text
/COM/TEST-data/nlte_ges_linelist_ca_fe.txt filter=lfs diff=lfs merge=lfs -text
